In [1]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in mylist:
    #check for even
    if num%2==0:
      print(num)
    else:
        print(f"Odd number:{num}")

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [10]:
list_sum=0
for num in mylist:
    list_sum=list_sum+num
print(list_sum)

55

In [13]:
mystring="Hello World"
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
mytup=[(1,2),(3,4),(5,6),(7,8)]

In [15]:
len(mytup)

4

In [16]:
for items in mytup:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [21]:
#Tuple unpacking
for a,b in mytup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [22]:
for a,b in mytup:
    print(b)

2
4
6
8

In [29]:
t=[(44,89,1),(2,3,4),(5,6,7),(8,9,10),(11,12,13),(14,15,16)]
for a,b,c in t:
    print (c,a)

1 44
4 2
7 5
10 8
13 11
16 14

In [30]:
#LOOPING DICTIONARIES

In [32]:
D={"K1":1,"K2":2,"K3":3,"K4":4,"K5":5}

In [33]:
for item in D:
    print(item)

K1
K2
K3
K4
K5

In [34]:
for item in D.items():
    print(item)

('K1', 1)
('K2', 2)
('K3', 3)
('K4', 4)
('K5', 5)

In [37]:
for key,values in D.items():
    print(values,key)

1 K1
2 K2
3 K3
4 K4
5 K5

In [38]:
for values in D.values():
    print(values)

1
2
3
4
5